<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Añadir A Estudiante</title>
</head>
<body>
<h1>Formulario para ingresar a Estudiante</h1>
    <form action="/Guardar_Estudiante" method="post">

        <label for="rut">RUT:</label>
        <input type="text" id="rut" name="rut" required>
        <br>

        <label for="nombres">Nombres:</label>
        <input type="text" id="nombres" name="nombres" required>
        <br>

        <label for="apellidos">Apellidos:</label>
        <input type="text" id="apellidos" name="apellidos" required>
        <br>

        <label for="fechaNacimiento">Fecha de Nacimiento:</label>
        <input type="date" id="fechaNacimiento" name="fechaNacimiento" required>
        <br>

        <label for="tipoColegio">Tipo de colegio:</label>
        <input type="text" id="tipoColegio" name="tipoColegio" required>
        <br>

        <label for="nombreColegio">Nombre de colegio:</label>
        <input type="text" id="nombreColegio" name="nombreColegio" required>
        <br>

        <label for="anoEgreso">Año de Egreso:</label>
        <input type="date" id="anoEgreso" name="anoEgreso" required>
        <br>

        <button type="submit">Guardar Estudiante</button>
    </form>
</body>
</html>