<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generador de cuotas</title>
</head>
<body>
    <h1>Generador de Cuotas</h1>
    <form action="/guardarCuota" method="post" style="display: inline;">

        <label for="rut">RUT del Estudiante:</label>
        <input type="text" id="rut" name="rut" required>
        <br>

        <label for="cantidad">Cantidad:</label>
        <input type="number" id="cantidad" name="cantidad" required max="10" min="1">
        <br>

        <label for="arancel">Arancel:</label>
        <input type="number" id="arancel" name="arancel" required value="1500000" disabled>
        <br>
        <!--
        <label for="fechaEmision">Fecha de Emisión:</label>
        <input type="date" id="fechaEmision" name="fechaEmision" required>
        <br>
        -->

        <label for="fechaPago">Fecha de Pago:</label>
        <input type="date" id="fechaPago" name="fechaPago" required>
        <br>

        <label for="estado">Estado:</label>
        <select id="estado" name="estado" required>
            <option value="Pagado">Pagado</option>
            <option value="Pendiente">Pendiente</option>
        </select>
        <br>

        <button type="submit">Guardar Cuota</button>
    </form>
    <form action="/Inicio"style="display: inline;">
        <button type="submit">Volver al inicio</button>
    </form>
</body>
</html>