<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Preuniversitario Top Education</title>
</head>
<body>
    <h1>Bienvenido a la Preuniversitario Top Educacion</h1>
    <p>Haga click en el botón para ingresar al Estudiante:</p>
    <form action="/Formulario">
        <button type="submit">Añadir Estudiantes</button>
    </form>
    <br>

    <p>Haga click en el botón para Generar las Cuotas</p>
    <form action="/GeneradorCuotas">
        <button type="submit">Generar Cuotas</button>
    </form>
    <br>

    <p>Haga click en el botón para mostrar las Cuotas de un Estudiante</p>
    <form action="/Mostrar">
        <button type="submit">Mostrar Cuotas</button>
    </form>
</body>
</html>
