<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cuotas</title>
</head>
<body>
    <h1>Buscar Cliente por RUT</h1>
    <form action="/BuscarCuota" method="post">

        <label for="rut">RUT del Cliente:</label>
        <input type="text" id="rut" name="rut" required>

        <button type="submit">Buscar Cliente</button>
    </form>

  <form action="/Inicio"style="display: inline;">
    <button type="submit">Volver al inicio</button>
  </form>
  <br>
</body>
</html>